<link href="/assets/css/frontend.css" rel="stylesheet">
<style>
    h2.page-header {
        margin:10px 0  25px 0;
        padding-bottom:15px;
    }
    .user-baseinfo {
        margin-bottom:25px;
    }
    .user-baseinfo table tr td {color:#999;}
    .user-dashboard{
        margin:0px;
        padding:0;
    }
    .user-dashboard .counter-item {
        max-width: 360px;
        margin: 20px auto;
    }
    .user-dashboard i {
        width: 75px;
        height: 75px;
        line-height: 73px;
        font-size: 35px;
        text-align: center;
        border-radius: 50%;
        float: left;
        border:1px solid #ddd;
    }
    .user-dashboard h4,
    .user-dashboard p { margin-left: 90px; }
    .user-dashboard h4 {
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 30px;
        font-weight: 400;
        line-height: 50px;
        color:#444;
        font-family:Helvetica, Arial;
    }
    .user-dashboard h4 small {
        display: inline-block;
        margin-left: 3px;
        font-size: 14px;
        font-weight:400;
        text-transform: uppercase;
        color:#777;
    }
    .user-dashboard p {
        color:#999;
    }
    @media (min-width: 767px) {
        .user-center .avatar-text,.user-center .avatar-img {
            height:150px;width:150px;border-radius: 150px;line-height:150px;font-size:70px;
        }
        .user-center .avatar-img  {font-size:0;}
        .user-center .avatar-img img {
            height:150px;width:150px;border-radius:150px;
        }
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-3">

            <div class="sidenav">
                <ul class="list-group">
                    <li class="list-group-heading">个人中心</li>
                    <li class="list-group-item"> <a href="/user.html"><i class="fa fa-user-circle"></i> 会员中心</a> </li>
                    <li class="list-group-item"> <a href="{:addon_url('user/index/PromotionUrl')}"><i class="fa fa-cloud-upload"></i> 我的推广</a> </li>
                    <li class="list-group-item "> <a href="{:addon_url('user/index/PromotionRecord')}"><i class="fa fa-money"></i> 收益记录</a> </li>
                    <li class="list-group-item active"> <a href="{:addon_url('user/index/changepwd')}"><i class="fa fa-key"></i> 修改密码</a> </li>
                    <li class="list-group-item "> <a href="{:addon_url('user/index/logout')}"><i class="fa fa-user-o"></i> 注销登录</a> </li>

                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default ">
                <div class="panel-body">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="page-header" style="margin-top:10px;">
                                <h4>修改密码</h4>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-12">
                                    <div class="well">
                                        <form id="loginForm" method="POST" action="#">
                                            <div class="form-group">
                                                <label for="oldpassword" class="control-label">旧密码</label>
                                                <input type="password" class="form-control" id="oldpassword" name="oldpassword" value="" required="" placeholder="旧密码">
                                                <span class="help-block"></span>
                                            </div>
                                            <div class="form-group">
                                                <label for="newpassword" class="control-label">新密码</label>
                                                <input type="password" class="form-control" id="newpassword" name="newpassword" value="" required="" placeholder="新密码" />
                                                <span class="help-block"></span>
                                            </div>
                                            <div class="form-group">
                                                <label for="renewpassword" class="control-label">确认新密码</label>
                                                <input type="password" class="form-control" id="renewpassword" name="renewpassword" value="" required="" placeholder="确认新密码" />
                                                <span class="help-block"></span>
                                            </div>
                                            <button onclick="return checkForm()" type="submit" class="btn btn-success btn-block">确认修改</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function checkForm(){
        var userpasswd = document.getElementById('newpassword');
        var pattern = /^\w{6,30}$/; //密码要在4-8位
        if(!pattern.test(userpasswd.value)){
            alert('密码长度不符不合规范');
            return false;
        }
        else{
            return true;
        }
    }
</script>